.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
  @media screen and(min-width:1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients__list {
  list-style: none;
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.clients__item {
  margin: 15px;
  @media screen and(max-width:767px) {
    width: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }
  @media screen and(min-width:1200px) {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  width: 170px;
  height: 92px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);

  &:focus,
  &:hover {
    border: 1px solid #2196f3;
    box-sizing: border-box;
    border-radius: 4px;
    fill: #2196f3;
  }
}
