.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-color-footer);
}

.footer__container {
  @media screen and(min-width:1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-about {
  @media screen and(min-width:768px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-about__logo {
  @media screen and(min-width:768px) {
    margin-left: 76px;
  }
  @media screen and(min-width:1200px) {
    margin-left: 0;
  }
}
.footer-about__link {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo);
  display: block;
  text-align: center;
  @media screen and(min-width:1200px) {
    text-align: start;
  }
}

.footer-about__span {
  color: #ffffff;
}

.footer-list {
  margin-bottom: 60px;
  @media screen and(min-width:1200px) {
    margin-bottom: 0;
  }
}

.footer-list__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and(min-width:1200px) {
    margin-bottom: 9px;
  }
}

.footer-list__adress-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white);
  font-style: normal;
  transition: color 250ms var(--timing-function);
  text-align: center;
  display: block;

  &:hover,
  &:focus {
    color: #afb1b8;
  }
  @media screen and(min-width:1200px) {
    text-align: start;
  }
}
.footer-list__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms var(--timing-function);
  text-align: center;
  display: block;

  &:hover {
    color: #ffffff;
  }
  @media screen and(min-width:1200px) {
    text-align: start;
  }
}

/* link-network */

.footer-network {
  @media screen and(min-width:768px) {
    margin-left: auto;
    margin-right: 89px;
  }
  @media screen and(min-width:1200px) {
    margin-left: 70px;
    margin-right: 0;
  }
}
.footer-network__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;

  display: block;
  text-align: center;
  @media screen and(min-width:1200px) {
    text-align: start;
  }
}

.footer-network__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.footer-network__item:not(:last-child) {
  margin-right: 10px;
}

.footer-network__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #ffffff;
  transition: background-color 250ms var(--timing-function);
  &:focus,
  &:hover {
    background-color: var(--header-logo);
    fill: #ffffff;
  }
}

.footer-network__icon {
  width: 20px;
  height: 20px;
}

/*--------------JOIN--------------*/

.footer-form {
  @media screen and(min-width:1200px) {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
}
.footer-form__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  @media screen and(min-width:1200px) {
    text-align: start;
  }
}
.footer-form__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  outline: none;
  width: 100%;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  display: block;
  margin-bottom: 20px;
  @media screen and(min-width:768px) {
    width: 450px;
    margin-left: 166px;
    margin-right: 152px;
  }
  @media screen and(min-width:768px) {
    width: 450px;
  }
  @media screen and(min-width:1200px) {
    display: inline;
    margin-left: 0;
    margin-right: 0;
    width: 358px;
    margin-bottom: 0;
  }
}
.footer-form__button {
  margin-right: auto;
  margin-left: auto;
  display: block;

  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border: transparent;
  cursor: pointer;
  &:hover {
    background-color: #188ce8;
  }
  @media screen and(min-width:1200px) {
    margin-right: 0;
    margin-left: 12px;
    display: inline;
  }
}
.footer-form__button-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: -6px;
}
