:root {
  --header-link: #212121;
  --header-logo: #2196f3;
  --header-contact: #757575;
  --hero-color-footer: #2f303a;
  --background-color: #f5f4fa;
  --text-white: #ffffff;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
